.menu {
    padding: 15px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    background-color: #c1bebe;
}
li{
    padding-right: 20px;
    padding-left: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

a {
    text-decoration: none;
    color: inherit;
}
.search-bar {
    display: flex;
    margin-left: 55%;
  }
  
  .search-bar input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .search-bar button[type="submit"] {
    padding: 8px 16px;
    background-color: #191717;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 8px;
  }
.profile {
    margin-left: auto;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.box {
    width: 344PX;
    padding: 50PX;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.bo{
    padding-right: 6%;
    padding-left: 6%;
}
.container{
    display: flex;
}

.box2 {
    width: 1000px;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
}
.box3 {
    width: 444PX;
    padding: 34px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.progress-bar {
    width: 300px;
    height: 20px;
    background-color: #cac6c6;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 100px;
}

.progress {
    height: 100%;
    background: linear-gradient(to right, #e89999, #971017);
    transition: width 0.5s ease;
}

.progress-anhsang {
    height: 100%;
    background: linear-gradient(to right, #e1eda8, #b8c221);
    transition: width 0.5s ease;
}

.progress-doam {
    height: 100%;
    background: linear-gradient(to right, #9db8ef, #03254d);
    transition: width 0.5s ease;
}

.lightbulb {
    width: 100px;
    height: 100px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.switch {
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.switch::before {
    content: 'OFF';
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
}

.switch.on::before {
    content: 'ON';
    background-color: #0a5fc0;
}

.image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url('/assets/fan2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    transition: transform 1s linear;
    transform-origin: center;
}

.rotate {
    animation: rotate-image 1s infinite linear;
}

@keyframes rotate-image {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
